@model PersonalFinanceManager.Models.ViewModels.UserTransactionCounts

<div class="card">
    <h2 class="card-header bg-warning">Our Active Users</h2>
    <p class="card-body fs-1 text-success text-center">@Model.UserCount</p>
</div>

<div class="card">
    <h2 class="card-header bg-warning">Total Transactions</h2>
    <p class="card-body fs-1 text-success text-center">@Model.TransactionCount</p>
</div>

